In [2]:
print("Hey furqaan,this is in continuation of class one(c1-basics)")

Hey furqaan,this is in continuation of class one(c1-basics)

# tuple

In [1]:
t=(22,33,4)

In [2]:
t

(22, 33, 4)

In [3]:
type(t)

tuple

In [4]:
a=()
b=[]
c={}

In [5]:
type(a)

tuple

In [6]:
type(b)

list

In [7]:
type(c)

dict

In [8]:
t1=(22,33,211,44,22,33)

In [9]:
t1

(22, 33, 211, 44, 22, 33)

In [10]:
##ONLY 2 FTNS ARE AVAILABLE FOR TUPLE

In [11]:
t1.count(2)

0

In [12]:

t1.count(22)

2

In [13]:
t1.index(22)

0

In [14]:
t1.index(33)

1

In [15]:
append,insert,.extend does not work here

SyntaxError: invalid syntax (2503192278.py, line 1)

In [ ]:
t1.sort()

In [ ]:
l=[33,44,5,3]

In [ ]:
l.sort()

In [ ]:
l

In [ ]:
t1

In [ ]:
t1.insert(2,3)

In [ ]:
for i in t1:
    print(i)

In [ ]:
for i in range(len(t1)):
    print(t1[i])

In [ ]:
33 in t1

In [ ]:
'k' in t1

# set

In [ ]:
S={}

In [ ]:
type(S)

In [ ]:
a={1,2}

In [ ]:
type(a)

In [ ]:
a

In [ ]:
a={22,'sss',77,22,33,'sss','er'}

In [ ]:
a

In [ ]:
len(a)

In [ ]:
s={33,455,6787,1,2,3,3}

In [ ]:
s

In [ ]:
s

In [ ]:
s

In [ ]:
a=list(s)

In [ ]:
a

In [ ]:

s

In [ ]:
type(a)

In [ ]:
x=set(a)

In [ ]:
a

In [ ]:
x

In [ ]:
tuple(x)

In [ ]:
x

In [ ]:
w=tuple(x)

In [ ]:
w

In [ ]:
x

In [ ]:
list_convert=[555,6677,88]

In [ ]:
s,w,a

In [ ]:
s.pop()

In [ ]:
s

In [ ]:
s.pop()

In [ ]:
s

In [ ]:
w.pop()

In [ ]:
a

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
a.pop(0)

In [ ]:
a.remove(2)

In [ ]:
a

In [ ]:
x={'1' : 'furqaan','a':33}

In [ ]:
x

In [ ]:
x['1']

In [ ]:
x['a']

In [ ]:
x[a]

In [ ]:
x['a']=22

In [ ]:
x

In [ ]:
ds={ }

In [ ]:
type(ds)

In [ ]:
s=set()

In [ ]:
type(s)

In [ ]:
d={1:'dd',2:'djhd'}

In [ ]:
d[1]

In [ ]:

d={'a':1,'b':2,'c':3}

In [ ]:
d

In [ ]:
d.get('d')

In [ ]:
d.get('a')

In [ ]:


1 in d

In [ ]:
'a' in d

In [ ]:
5 in d

In [ ]:
for i in d.values():
    print(i)

In [ ]:
for i in d.keys():
    print(i)

In [ ]:
for i in d.keys():
    print(i,'  ',d[i])

In [ ]:
d['d']=4

In [ ]:
d

In [ ]:
del(d['b'])

In [ ]:
d

In [ ]:
d={}

for i in range(5):
    x=input("enter 5 product names  ")
    
    while i==j:
        y=int(input('enter the price'))
        break

In [7]:
products=[]
prices=[]
for i in range(5):
    x=input("enter 5 product names  ")
    products.append(x)
for j in range(5):
    y=int(input("enter prices"))
    prices.append(y)

enter 5 product names  aaple
enter 5 product names  banana
enter 5 product names  carrot
enter 5 product names  pineapple
enter 5 product names  bread'
enter prices333
enter prices45
enter prices65
enter prices24
enter prices24

In [8]:
products

['aaple', 'banana', 'carrot', 'pineapple', "bread'"]

In [3]:
prices

[22, 33, 55, 212, 353]

In [2]:
for i in range(5):
    pd[products[i]]=prices[i]

In [15]:
type(pd)

dict

In [25]:
for i in range(5):
    pd[products[i]]=prices[i]

In [26]:
pd.keys()

dict_keys([])

In [24]:
pd

{0: 'aaple',
 1: 'banana',
 2: 'carrot',
 3: 'pineapple',
 4: "bread'",
 'aaple': 333,
 'banana': 45,
 'carrot': 65,
 'pineapple': 24,
 "bread'": 24}

In [1]:
products=[]
prices=[]
product_dict={}
for i in range(5):
    x=input("enter "+ str(i+1) + " product names  ")
    products.append(x)
for j in range(5):
    y=int(input("enter prices"))
    prices.append(y)
for i in range(5):
    product_dict[products[i]]=prices[i]

enter 1 product names  apple
enter 2 product names  b
enter 3 product names  c
enter 4 product names  d
enter 5 product names  e
enter prices33
enter prices44
enter prices11
enter prices55
enter prices66

In [2]:
product_dict

{'apple': 33, 'b': 44, 'c': 11, 'd': 55, 'e': 66}

In [ ]:
count=5
product={}
for i in range(count):
    product_name=input("Enter the product name\n ")
    price=eval(input("Enter the product price\n"))
    product[product_name]=price

Enter the product name
 aaple
Enter the product price
33
Enter the product name
 samsung
Enter the product price
33333
Enter the product name
 mi

In [2]:
product

{'aaple': 33, 'samsung': 33333, 'mi': 3554, 'oppo': 344334, 'realme': 54546}

In [3]:
product_name=input("Enter the product name\n ")
print('the coresponding price is ',product[product_name])

Enter the product name
 mi
the coresponding price is  3554

In [3]:
month_dict={}

In [4]:
month_dict

{}

In [5]:
for i in range(12):
    month=input("enter the month ")
    days=int(input("enter the Number of days "))
    month_dict[month]=days

enter the month jan
enter the Number of days 31
enter the month feb
enter the Number of days 28
enter the month mar
enter the Number of days 31
enter the month apr
enter the Number of days 30
enter the month may
enter the Number of days 31
enter the month jun
enter the Number of days 30
enter the month jul
enter the Number of days 31
enter the month aug
enter the Number of days 31
enter the month sep
enter the Number of days 30
enter the month oct
enter the Number of days 31
enter the month nov
enter the Number of days 30
enter the month dec
enter the Number of days 31

In [6]:

month_dict

{'jan': 31,
 'feb': 28,
 'mar': 31,
 'apr': 30,
 'may': 31,
 'jun': 30,
 'jul': 31,
 'aug': 31,
 'sep': 30,
 'oct': 31,
 'nov': 30,
 'dec': 31}

In [8]:
month=input("enter the month\n")
print("the month of ",month," has ",month_dict[month],' days')

enter the month
mar
the month of  mar  has  31  days

In [9]:
month=input("enter the month\n")
print("the month of ",month," has ",month_dict[month],' days')

enter the month
dec
the month of  dec  has  31  days

In [10]:
month=input("enter the month\n")
print("the month of ",month," has ",month_dict[month],' days')

enter the month
feb
the month of  feb  has  28  days

In [27]:
month_dict.keys()

dict_keys(['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'])

In [30]:
for i in sorted(month_dict.keys()):
    print(i)

apr
aug
dec
feb
jan
jul
jun
mar
may
nov
oct
sep

In [31]:
for i in sorted(month_dict.keys(),reverse=True):
    print(i)

sep
oct
nov
may
mar
jun
jul
jan
feb
dec
aug
apr

In [ ]:
team_dict={}
for i in range(5):
    team=input("enter the name of the team\t")
    wins=int(input("enter the number of wins\t"))
    lossess=int(input("enter the number of lossess\t"))
    team_dict[team]=[wins,lossess]

In [39]:
team_dict

{'india': [2, 4],
 'pakistan': [3, 5],
 'sri lanka': [1, 6],
 'australia': [44, 66],
 'bangladesh': [777, 88]}

In [44]:
team_dict[india]

NameError: name 'india' is not defined

In [43]:
teams=input("enter the team name ")
print('the win percemtage is ',team_dict[teams][0]/team_dict[teams][1])

enter the team name india
the win percemtage is  0.5

In [50]:
teams=input("enter the team name ")
print('the win percemtage is ',team_dict[teams][0]/team_dict[teams][1])

enter the team name pakistan
the win percemtage is  0.6

In [2]:
teamwinlist=[]
for i in team_dict.keys():
    teamwinlist.append(team_dict[i][0])

NameError: name 'team_dict' is not defined

In [ ]:
team_dict.keys()

In [64]:
teamwinlist

[2, 3, 1, 44, 777]